.signup-error-message {
    color: red !important;
    margin-top: 5px;
    font-size: small;
  }
  
  .scroll {
    scroll-behavior: smooth;
  }

 .headerLogo{
  margin: 3px auto;
 }


 .formMessageSign{
  color: rgb(230, 177, 80);
  font-size: small;
 }